&iomuxc {
	pinctrl_i2s0: sai1grp {
		fsl,pins = <
			MX93_PAD_SAI1_TXC__SAI1_TX_BCLK			0x31e
			MX93_PAD_SAI1_TXFS__SAI1_TX_SYNC		0x31e
			MX93_PAD_SAI1_TXD0__SAI1_TX_DATA00		0x31e
			MX93_PAD_SAI1_RXD0__SAI1_RX_DATA00		0x31e
		>;
	};
    pinctrl_i2s1: sai3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO16__SAI3_TX_BCLK		0x31e
			MX93_PAD_GPIO_IO26__SAI3_TX_SYNC		0x31e
			MX93_PAD_GPIO_IO21__SAI3_TX_DATA00		0x31e
			MX93_PAD_GPIO_IO20__SAI3_RX_DATA00		0x31e
            MX93_PAD_GPIO_IO17__SAI3_MCLK           0x31e
		>;
    };
    pinctrl_spi0: lpspi3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO08__GPIO2_IO08		0x3fe
			MX93_PAD_GPIO_IO09__LPSPI3_SIN		0x3fe
			MX93_PAD_GPIO_IO10__LPSPI3_SOUT		0x3fe
			MX93_PAD_GPIO_IO11__LPSPI3_SCK		0x3fe
		>;
	};
    pinctrl_spi1: lpspi6grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO00__GPIO2_IO00		0x3fe
			MX93_PAD_GPIO_IO01__LPSPI6_SIN		0x3fe
			MX93_PAD_GPIO_IO02__LPSPI6_SOUT		0x3fe
			MX93_PAD_GPIO_IO03__LPSPI6_SCK		0x3fe
		>;
	};
    // Add I2C3 pin configuration
    pinctrl_lpi2c3: lpi2c3grp {
        fsl,pins = <
            MX93_PAD_GPIO_IO28__LPI2C3_SDA          0x40000bde
            MX93_PAD_GPIO_IO29__LPI2C3_SCL          0x40000bde
        >;
    };

    // GPIOS
    pinctrl_gpio_user: gpio_usergrp {
        fsl,pins = <
            MX93_PAD_SD2_DATA3__GPIO3_IO06      0x31e /* MIC_GAIN */
            MX93_PAD_SD2_DATA2__GPIO3_IO05      0x31e /* /MIC_MUTE */
            MX93_PAD_GPIO_IO04__GPIO2_IO04      0x31e /* 125 - LED 1 */
            MX93_PAD_GPIO_IO05__GPIO2_IO05      0x31e /* 125 - LED 2 */
            MX93_PAD_GPIO_IO22__GPIO2_IO22      0x31e /* RF_RST */
            MX93_PAD_GPIO_IO25__GPIO2_IO25      0x31e /* 95 - KBD_PWM */
            // Removed PTT and OPT pins from here
        >;
    };

    pinctrl_keypad_extras: gpio_kpdextragrp {
        fsl,pins = <
            MX93_PAD_SD3_DATA1__GPIO3_IO23      0x31e /* EXT_PTT */
            MX93_PAD_SD3_CMD__GPIO3_IO21        0x31e /* INT_PTT */
            MX93_PAD_SD3_DATA0__GPIO3_IO22      0x31e /* SIDE_BTN */
        >;
    };


    pinctrl_keypad_rows: gpio_kpdrowgrp {
        fsl,pins = <
            MX93_PAD_ENET2_TX_CTL__GPIO4_IO20   0x31e /* D4 - Row 0 */
            MX93_PAD_ENET2_TD1__GPIO4_IO18      0x31e /* D3 - Row 1 */
            MX93_PAD_ENET2_TD0__GPIO4_IO19      0x31e /* D2 - Row 2 */
            MX93_PAD_ENET2_TD3__GPIO4_IO16      0x31e /* D1 - Row 3 */
            MX93_PAD_ENET2_RD0__GPIO4_IO24      0x31e /* D9 - Row 4 */
        >;
    };

    pinctrl_keypad_cols: gpio_kpdcolgrp {
        fsl,pins = <
            MX93_PAD_ENET2_RX_CTL__GPIO4_IO22   0x31e /* D8 - Col 0 */
            MX93_PAD_ENET2_RXC__GPIO4_IO23      0x31e /* D7 - Col 1 */
            MX93_PAD_ENET2_TXC__GPIO4_IO21      0x31e /* D6 - Col 2 */
            MX93_PAD_ENET2_TD2__GPIO4_IO17      0x31e /* D5 - Col 3 */
        >;
    };

    // Pin config (if you want a dedicated group):
    pinctrl_flashlight: flashlightgrp {
        fsl,pins = <
            MX93_PAD_GPIO_IO18__GPIO2_IO18      0x184 /* 118 - FLASHLIGHT */
        >;
    };

    // PWM Pins
    pinctrl_tpm3: tpm3grp {
        fsl,pins = <
            MX93_PAD_GPIO_IO24__TPM3_CH3 0x31e /* LCD_PWM - Pin 99 */
        >;
    };

    // GNSS GPIOs (only RST, WAKEUP, PPS)
    pinctrl_gnss: gnssgrp {
        fsl,pins = <
            MX93_PAD_ENET1_TD2__GPIO4_IO03      0x31e /* Pin 83 - GNSS_RST */
            MX93_PAD_ENET1_TD3__GPIO4_IO02      0x31e /* Pin 85 - GNSS_WAKEUP */
            MX93_PAD_ENET1_RX_CTL__GPIO4_IO08   0x31e /* Pin 87 - GNSS_PPS */
        >;
    };

    // UART3 for GNSS (TX/RX)
    pinctrl_uart3: uart3grp {
        fsl,pins = <
            MX93_PAD_ENET1_TD0__GPIO4_IO05        0x31e /* Pin 84 - GNSS_TX */
            MX93_PAD_ENET1_TD3__GPIO4_IO02        0x31e /* Pin 88 - GNSS_RX */
        >;
    };

    // RF Control GPIOs
    pinctrl_rf_control: rf_controlgrp {
        fsl,pins = <
            MX93_PAD_GPIO_IO15__GPIO2_IO15      0x31e /* Pin 103 - RF_SW_CTRL */
            MX93_PAD_GPIO_IO13__GPIO2_IO13      0x31e /* Pin 104 - RF_ATT_LE2 */
            MX93_PAD_GPIO_IO12__GPIO2_IO12      0x31e /* Pin 105 - RF_ATT_LE1 */
            MX93_PAD_GPIO_IO07__GPIO2_IO07      0x31e /* Pin 106 - RF_ATT_CLK */
            MX93_PAD_GPIO_IO06__GPIO2_IO06      0x31e /* Pin 107 - RF_ATT_DATA */
            MX93_PAD_SD3_DATA3__GPIO3_IO25      0x31e /* Pin 111 - RF_PA_ENABLE */
        >;
    };

    // Jack Detection
    pinctrl_jack_detect: jack_detectgrp {
        fsl,pins = <
            MX93_PAD_ENET2_MDIO__GPIO4_IO15     0x31e /* Pin 49 - JACK_DETECT */
        >;
    };

    // 3.3V regulator
    pinctrl_gpio3_io7: gpio3io7grp {
        fsl,pins = <
            MX93_PAD_SD2_RESET_B__GPIO3_IO07    0x31e
        >;
    };
};

// Disable the sdcard power regulator so we can activate him from linux
&reg_usdhc2_vmmc {
    status = "disabled";
    gpio = <0>;
};

&usdhc2 {
    status = "disabled";
};

&usdhc3 {
    status = "disabled";
};

// 3.3V Regulator
&gpio3 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_gpio3_io7>;
    
    gpio3_io7_hog {
        gpio-hog;
        gpios = <7 GPIO_ACTIVE_HIGH>;
        output-high;
        line-name = "gpio3_io7_always_on";
    };
};

// PWM
&tpm3 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_tpm3>;
    status = "okay";
};

// I2S0 - SX1255
&sai1 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2s0>;
	status = "okay";
};

// I2S1 - WM8960
&sai3 {
    #sound-dai-cells = <0>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2s1>;
    assigned-clocks = <&clk IMX93_CLK_SAI3>;
    assigned-clock-parents = <&clk IMX93_CLK_AUDIO_PLL>;
    assigned-clock-rates = <12288000>;
    fsl,sai-mclk-direction-output;
    status = "okay";
};

// I2C - TLV320AIC3100
&lpi2c3 {
    #address-cells = <1>;
    #size-cells = <0>;
    clock-frequency = <400000>;
    pinctrl-names = "default", "sleep";
    pinctrl-0 = <&pinctrl_lpi2c3>;
    pinctrl-1 = <&pinctrl_lpi2c3>;
    status = "okay";

    aic3100: aic3100@18 {
        compatible = "ti,tlv320aic3100";
        reg = <0x18>;
        #sound-dai-cells = <0>;

        AVDD-supply = <&reg_aic3100_avdd>;
        IOVDD-supply = <&reg_aic3100_iovdd>;
        DVDD-supply = <&reg_aic3100_dvdd>;

        // Optional: if you use headphone/speaker supplies
        // HPVDD-supply = <&reg_aic3100_hpvdd>;
        // SPLVDD-supply = <&reg_aic3100_splvdd>;
        // SPRVDD-supply = <&reg_aic3100_sprvdd>;

        clocks = <&clk IMX93_CLK_SAI3>;
        clock-names = "mclk";
    };
};

// SPI0 - SX1255
&lpspi3 {
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_spi0>;
	pinctrl-1 = <&pinctrl_spi0>;
	cs-gpios = <&gpio2 8 GPIO_ACTIVE_LOW>;
	dmas = <&edma2 12 0 0>, <&edma2 13 0 1>;
	dma-names = "tx", "rx";
	status = "okay";

	spidev0: spi@0 {
		reg = <0>;
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <10000000>;
	};
};

// SPI1 - st7735r
&lpspi6 {
    status = "okay";
    fsl,spi-num-chipselects = <1>;
    pinctrl-names = "default", "sleep";
    pinctrl-0 = <&pinctrl_spi1>;
    pinctrl-1 = <&pinctrl_spi1>;
    cs-gpios = <&gpio2 0 GPIO_ACTIVE_LOW>;
	dmas = <0>, <0>;
	dma-names = "tx", "rx";

    display@0 {
        compatible = "jianda,jd-t18003-t01", "sitronix,st7735r";
        reg = <0>;
        spi-max-frequency = <8000000>;
        dc-gpios = <&gpio2 19 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio4 0 GPIO_ACTIVE_LOW>;
        rotation = <270>;
        width = <128>;
        height = <160>;
    };
};

&lpspi1 {
    status = "disabled";
 };

// Enable UART3 for GNSS
&lpuart3 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart3>;
    status = "okay";
};

// collides with SPI1
&lpuart5 {
	status = "disabled";
};

&lpi2c6 {
    status = "disabled";
};

&{/} {
    sound0: sound@0 {
        compatible = "simple-audio-card";
        simple-audio-card,name = "SX1255";
        #address-cells = <1>;
        #size-cells = <0>;
        status = "okay";

        /* RX (I/Q input from SX1255) */
        simple-audio-card,dai-link@0 {
            reg = <0>;
            format = "i2s";
            bitclock-master = <&sx1255_codec>;
            frame-master = <&sx1255_codec>;
            
            cpu {
                sound-dai = <&sai1>;
            };
            
            sx1255_codec: codec {
                sound-dai = <&sx1255_rx>;
            };
        };

        /* TX (I/Q output to SX1255) */
        simple-audio-card,dai-link@1 {
            reg = <1>;
            format = "i2s";
            bitclock-master = <&sx1255_tx_codec>;
            frame-master = <&sx1255_tx_codec>;
            
            cpu {
                sound-dai = <&sai1>;
            };
            
            sx1255_tx_codec: codec {
                sound-dai = <&sx1255_tx>;
            };
        };
    };

    /* SX1255 I/Q receive codec */
    sx1255_rx: sx1255-rx {
        compatible = "linux,spdif-dir";
        #sound-dai-cells = <0>;
        status = "okay";
    };

    /* SX1255 I/Q transmit codec */
    sx1255_tx: sx1255-tx {
        compatible = "linux,spdif-dit";
        #sound-dai-cells = <0>;
        status = "okay";
    };

    // TLV320AIC3100 Regulators
    reg_aic3100_avdd: regulator-aic3100-avdd {
        compatible = "regulator-fixed";
        regulator-name = "AIC3100_AVDD";
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
        regulator-always-on;
    };

    reg_aic3100_iovdd: regulator-aic3100-iovdd {
        compatible = "regulator-fixed";
        regulator-name = "AIC3100_IOVDD";
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
        regulator-always-on;
    };

    reg_aic3100_dvdd: regulator-aic3100-dvdd {
        compatible = "regulator-fixed";
        regulator-name = "AIC3100_DVDD";
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <1800000>;
        regulator-always-on;
    };

    sound1: sound@1 {
        compatible = "simple-audio-card";
        simple-audio-card,name = "tlv320aic3100-audio";
        simple-audio-card,format = "i2s";

        simple-audio-card,widgets =
            "Headphone", "Headphone Jack",
            "Speaker", "Speaker",
            "Microphone", "Mic Jack";

        simple-audio-card,routing =
            "Headphone Jack", "HPOUTL",
            "Headphone Jack", "HPOUTR",
            "Speaker", "LOUTL",
            "Speaker", "LOUTR",
            "Mic Jack", "MIC3L",
            "MIC3L", "Mic Bias";

        simple-audio-card,cpu {
            sound-dai = <&sai3>;
        };

        simple-audio-card,codec {
            sound-dai = <&aic3100>;
        };
    };

    gpio_user: gpio_user {
        compatible = "regulator-fixed";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_gpio_user>;
        regulator-name = "BOARD_GPIO_CONFIG";
        status = "okay";
    };

    // GNSS GPIO controller
    gnss_gpio: gnss-gpio {
        compatible = "regulator-fixed";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_gnss>;
        regulator-name = "GNSS_GPIO_CONFIG";
        status = "okay";
    };

    // RF Control GPIO controller
    rf_control_gpio: rf-control-gpio {
        compatible = "regulator-fixed";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_rf_control>;
        regulator-name = "RF_CONTROL_GPIO_CONFIG";
        status = "okay";
    };

    // Jack Detection GPIO
    jack_detect_gpio: jack-detect-gpio {
        compatible = "regulator-fixed";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_jack_detect>;
        regulator-name = "JACK_DETECT_GPIO_CONFIG";
        status = "okay";
    };

    matrix_keypad: matrix_keypad {
        compatible = "linht,matrix-keypad";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_keypad_rows>, <&pinctrl_keypad_cols>, <&pinctrl_keypad_extras>;

        // GPIOs for the 5 rows, configured as outputs
        row-gpios = <&gpio4 20 GPIO_ACTIVE_HIGH>,  /* D4 */
                    <&gpio4 18 GPIO_ACTIVE_HIGH>,  /* D3 */
                    <&gpio4 19 GPIO_ACTIVE_HIGH>,  /* D2 */
                    <&gpio4 16 GPIO_ACTIVE_HIGH>,  /* D1 */
                    <&gpio4 24 GPIO_ACTIVE_HIGH>;  /* D9 */

        // GPIOs for the 4 columns, configured as inputs
        col-gpios = <&gpio4 22 GPIO_ACTIVE_LOW>,   /* D8 */
                    <&gpio4 23 GPIO_ACTIVE_LOW>,   /* D7 */
                    <&gpio4 21 GPIO_ACTIVE_LOW>,   /* D6 */
                    <&gpio4 17 GPIO_ACTIVE_LOW>;   /* D5 */

        // Optional discrete buttons (replace with your actual GPIO assignments)
        ptt-gpios = <&gpio3 21 GPIO_ACTIVE_LOW>;   /* PTT button */
        ext-ptt-gpios = <&gpio3 23 GPIO_ACTIVE_LOW>;  /* External PTT input */
        opt-gpios = <&gpio3 22 GPIO_ACTIVE_LOW>;   /* SIDE BTN aka OPT button */
    };

};

